extends layout.pug
block content 
   .container 
        .page-header 
            if user
                h1.page-title Welcome #{user.username}
            else 
                h1.page-title Awe Shucks
            p.page-subtitle #{message}